 body{
  background-color:  #adb5bd;
  font-family: 'Open Sans', sans-serif;
 }
 
 
 
 .circular--portrait {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--portrait img {
    width: 100%;
    height: auto;
  }

